{% extends "registration/accounts.html" %}
{% load i18n %}

{% block title  %}
Reset Password
{% endblock title  %}

{% block breadcrumbs %}
{{ block.super }} > Reset Password
{% endblock breadcrumbs %}

{% block content %}
<form method="post" action=".">
  <h1>Password Reset</h1>
  <table class="login_form">
    

  {% csrf_token %}
  {{ form.as_table }}
  <tr>
    <td></td>
    <td>  <input type="submit" value="{% trans 'Email New Password' %}" /></td>
  </tr>
  </table>
</form>
{% endblock %}
