{% extends "registration/accounts.html" %}
{% load i18n %}

{% block title  %}
Register
{% endblock title  %}

{% block breadcrumbs %}
{{ block.super }} > Register
{% endblock breadcrumbs %}


{% block content %}
<h1>Register</h1>
<div class="login_form">
<form method="post" action="." >
  {% csrf_token %}
  <table >
  {{ form.as_table }}
  {% if request.REQUEST.next %}
  <input type="hidden" name="next" value="{{ request.REQUEST.next }}" />
  {% endif %}
  <tr>
    <td></td>
    <td><input type="submit" value="{% trans 'Register' %}" /></td>
  </tr>
  </table>
</form>
</div>
{% endblock %}
