<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
    Design by Free CSS Templates
    http://www.freecsstemplates.org
    Released for free under a Creative Commons Attribution 2.5 License

    Name       : Round House
    Description: A fluid-width design suitable for blogs.
    Version    : 1.0
    Released   : 20071120

  -->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}
      {% if page_title  %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css"
          type="text/css" media="screen" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta name="description" content="{{ meta_description }}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/g4g.js"></script>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <h1><a href="#">Gift for Gift</a></h1>

      </div>
      <div class="login">
        <a href="#">login</a> or <a href="#">register</a>
      </div>
      <br />
      <div id="menu" class="hdiv">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Forms</a></li>
          <li><a href="#">Podcast</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div id="search">
          <form method="get" action="">
            <input id="s" type="text" name="s" value="Search..." />
            <input id="x" type="submit" value="Search" />
          </form>
        </div>

        <div id="cart">
          <a href="/cart">
            <img src="/static/css/images/cart.png" class="" alt="" />
            <div class="your_cart">Your Cart</div>
            <span class="item_count">{{ item_count }} item{{ item_count|pluralize }}</span>
          </a>
        </div>
      </div>
    </div>
    <!-- start page -->
    <div id="page">
      <!-- start content -->
      <div id="content">
        {% block site_wrapper %}{% endblock site_wrapper %}

      </div>
      <!-- end content -->
      <!-- start sidebar -->
      <div id="sidebar">
        <div id="breadcrumbs">
	  {% block breadcrumbs %}
	  
	  {% endblock breadcrumbs %}
	</div>
        <ul>
          <li>
            <div class="hdiv"><h2>Genres</h2></div>
	    <ul>
	    {% for cat in sub_cats %}
	  <li><a href="{{ cat.get_absolute_url }}">{{ cat }}</a></li>
	    {% endfor %}
	    </ul>
          </li>

        </ul>
      </div>
      <!-- end sidebar -->
    </div>
    <!-- end page -->
    <div id="footer" class="hdiv">
      <p class="legal">&copy;2010 Ides of Awesome LLC</p>
      <p class="credits">Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
    </div>
  </body>
</html>

</body>
</html>

