<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
    Design by Free CSS Templates
    http://www.freecsstemplates.org
    Released for free under a Creative Commons Attribution 2.5 License

    Name       : Round House
    Description: A fluid-width design suitable for blogs.
    Version    : 1.0
    Released   : 20071120

  -->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}
      {% if page_title  %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css"
    type="text/css" media="screen" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta name="description" content="{{ meta_description }}" />
  </head>
  <body>
    <div id="header">
      <div id="search">
        <form method="get" action="">
          <fieldset>
            <legend>Quick Search</legend>
            <input id="s" type="text" name="s" value="" />
            <input id="x" type="submit" value="Search" />
          </fieldset>
        </form>
      </div>
      <div id="logo">
        <h1><a href="#">Gift for Gift</a></h1>

      </div>
      <div id="menu">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Forms</a></li>
	  <li><a href="#">Podcast</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
    <!-- start page -->
    <div id="page">
      <!-- start content -->
      <div id="content">
    {% block site_wrapper %}{% endblock site_wrapper %}

    </div>
    <!-- end content -->
    <!-- start sidebar -->
    <div id="sidebar">
      <a href="home">Home</a> > <a href="books">Books</a> > <a href="sci-fi">Sci-fi</a>
      <ul>
        <li>
          <h2>Genres</h2>
          <ul>
            <li><a href="#">Comics</a></li>
            <li><a href="#">Fantasy</a></li>
            <li><a href="#">Sci-fi</a></li>
            <li><a href="#">Romance</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Self-help</a></li>
          </ul>
        </li>
        <li>
          <h2>Archives</h2>
          <ul>
            <li><a href="#">September</a> (23)</li>
            <li><a href="#">August</a> (31)</li>
            <li><a href="#">July</a> (31)</li>
            <li><a href="#">June</a> (30)</li>
            <li><a href="#">May</a> (31)</li>
          </ul>
        </li>

      </ul>
    </div>
    <!-- end sidebar -->
  </div>
  <!-- end page -->
  <div id="footer">
    <p class="legal">&copy;2010 All Rights Reserved.</p>
    <p class="credits">Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
  </div>
</body>
</html>

  </body>
</html>

