<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}
      {% if page_title  %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css"
          type="text/css" media="screen" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta name="description" content="{{ meta_description }}" />
    <meta name="google-site-verification" content="hhUEcyDIP-0B0d7cEx-HcZeEPWybFfaQiWUdaKWPsuQ" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/g4g.js"></script>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <h1><a href="/">Gift for Gift</a></h1>

      </div>
      <div class="login">
	{% if user.is_authenticated %}
	Welcome <a href="{{ user.get_absolute_url }}">{{ user }}</a> | <a href="/accounts/logout/">logout</a>
	{% else %}
	{% ifequal request.path '/accounts/logout/'  %}
	<a href="/accounts/login/">login</a> or <a href="/accounts/register/">register</a>	
	{% else %}
	<a href="/accounts/login/?next={{ request.path }}">login</a> or <a href="/accounts/register/?next={{ request.path }}">register</a>
	{% endifequal %}
	{% endif %}
      </div>
      <br />
      <div id="menu" class="hdiv">
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Forums</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div id="search">
          <form method="get" action="/search">	    
            <input id="s" type="text" name="q" value="{% if query  %}{{ query }}{% else %}Search...{% endif %}" />
            <input id="x" type="submit" value="Search" />
          </form>
        </div>

        <div id="cart">
          <a href="/cart">
            <img src="/static/css/images/cart.png" class="" alt="" />
            <div class="your_cart">Your Cart</div>
            <span class="item_count">{{ item_count }} item{{ item_count|pluralize }}</span>
          </a>
        </div>
      </div>
    </div>
    <!-- start page -->
    <div id="page">
      <!-- start content -->
      <div id="content">
        {% block site_wrapper %}{% endblock site_wrapper %}

      </div>
      <!-- end content -->
      <!-- start sidebar -->
      <div id="sidebar">
        <div id="breadcrumbs">
          {% block breadcrumbs %}
	  <a href="/">Home</a>
          {% endblock breadcrumbs %}
        </div>
        <ul>
          <li>
	    <div class="hdiv"><h2>Genres</h2></div>
            <ul>
              {% for cat in sub_cats %}
              <li><a href="{{ cat.get_absolute_url }}">{{ cat }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <div class="hdiv"><h2>Be Social</h2></div>
            <ul>
              <li>Post in our Forums</li>
              <li><a href="http://www.twitter.com/giftforgift"><img src="http://twitter-badges.s3.amazonaws.com/follow_us-b.png" alt="Follow Gift For Gift on Twitter"/></a></li>
              <li><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FGift-for-Gift%2F120779691311997&amp;layout=standard&amp;show_faces=true&amp;width=200&amp;action=like&amp;colorscheme=light&amp;height=42" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:42px;" allowTransparency="true"></iframe></li>
            </ul>
          </li>

        </ul>
      </div>
      <!-- end sidebar -->
    </div>
    <!-- end page -->
    <div id="footer" class="hdiv">
      <p class="legal">&copy;2010 <a href="/privacy/">Privacy Policy</a></p>
      
      <p class="credits">Modified from Roundhouse by  <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
    </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12955904-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
