{% extends 'catalog/catalog.html' %}

{% block breadcrumbs %}
<a href="/">Home</a> > <a href="{{ super_cat.get_absolute_url }}">{{ super_cat }}</a> > <a href="{{ sub_cat.get_absolute_url }}">{{ sub_cat }}</a> > {{ product }}</a>
{% endblock breadcrumbs %}

{% block content %}
<div>
  <h1>{{ product.name }}</h1>
  <img src="{{ product.image.url }}" class="product_img" alt="{{ meta_description }}" height="300"/>
  <br />
  <h2>{{ product.name }}</h2>
  <br />
  <div style="width: 70%;">{{ product.description|safe }}</div>

  <form method="post" id="addtocart" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <br />
    <input type="submit" value="Add to Cart" />
  </form>
</div>
{% endblock content %}

