{% extends 'catalog/catalog.html' %}

{% block content %}
<div>
<a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
<br />Price: {{ product.price }}
<br />Author: {{ product.book.author }}
{% if product.book.publisher %}
<br />Publisher: product.book.publisher
{% endif %}

<p>{{ product.description }}</p>
<img src="{{ product.image }}" class="" alt="meta_description" />

<form method="post" id="addtocart" action=".">
  {% csrf_token %}
  {{ form.as_p }}
  <br />
  <input type="submit" value="Add to Cart" />
</form>
</div>
{% endblock content %}

